.app-bar {
  box-shadow: var(--lumo-box-shadow-m);
  flex-direction: column;
  position: relative;
  z-index: 1;
}

/* Container */
.app-bar__container {
  transition: padding var(--transition-duration-m);
}

.app-bar__container vaadin-button {
  margin-bottom: 0;
  margin-top: 0;
}

/* Menu button */
.app-bar__navi-icon {
  margin-right: var(--lumo-space-m);
  transition: margin-right var(--transition-duration-m),
              min-width var(--transition-duration-m),
              opacity var(--transition-duration-s),
              padding var(--transition-duration-m),
              visibility var(--transition-duration-m),
              width var(--transition-duration-m);
}

/* Title */
.app-bar__title {
  flex-grow: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Action items */
.app-bar__action-items {

}

/* Search */
.app-bar vaadin-text-field {
  padding: 0;
}

/* Avatar */
.app-bar__avatar {
  border-radius: 100%;
  height: var(--lumo-size-s);
  margin-left: var(--lumo-space-m);
  width: var(--lumo-size-s);
}

/* Tabs */
.app-bar__tab-container vaadin-button {
  flex-shrink: 0;
  margin: calc(calc(var(--lumo-size-l) - var(--lumo-size-s)) / 2) 0;
}

.app-bar__tabs {
  box-shadow: none;
}

.app-bar__tab vaadin-button {
  margin: 0;
}

@media (max-width: 1023px) {
  .app-bar__container {
    height: var(--app-bar-height-mobile);
    padding: 0 var(--lumo-space-s);
  }

  .app-bar__action-items > *:not(:last-child) {
    margin-right: var(--lumo-space-s);
  }

  .app-bar__tab-container {
    padding: 0 var(--lumo-space-m);
  }
}

@media (min-width: 1024px) {
  .app-bar__container {
    height: var(--app-bar-height-desktop);
    padding: 0 var(--lumo-space-l);
  }

  .app-bar__navi-icon:not(.app-bar__navi-icon--visible) {
    margin-right: 0;
    min-width: 0;
    opacity: 0;
    padding: 0;
    transition: opacity var(--transition-duration-l);
    visibility: hidden;
    width: 0;
  }

  .app-bar__action-items > *:not(:last-child) {
    margin-right: var(--lumo-space-m);
  }

  .app-bar__tab-container {
    padding: 0 var(--lumo-space-l);
  }
}
