.brand-expression {
  align-items: center;
  box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
  box-sizing: border-box;
  display: flex;
  /* Application header height with tabs */
  height: calc(calc(var(--lumo-space-l) + var(--lumo-size-s)) + var(--lumo-size-l));
  justify-content: center;
  padding: var(--lumo-space-l);
}

.brand-expression__logo,
.brand-expression__rail-logo {
  max-height: 100%;
  max-width: 100%;
}

.navi-drawer[rail] .brand-expression {
  padding: var(--lumo-space-m);
}

.navi-drawer[rail] .brand-expression__logo {
  display: none;
}

.navi-drawer:not([rail]) .brand-expression__rail-logo {
  display: none;
}
