<dom-module id="vaadin-chart-lumo-theme" theme-for="vaadin-chart">
  <template>
    <style include="vaadin-chart-default-theme">
      :host(.pending) .highcharts-color-0 {
        fill: var(--lumo-primary-text-color);
      }

      :host(.sent) .highcharts-color-0 {
        fill: var(--lumo-success-text-color);
      }

      :host(.open) .highcharts-color-0 {
        fill: var(--lumo-contrast-80pct);
      }

      :host(.failed) .highcharts-color-0 {
        fill: var(--lumo-error-text-color);
      }

      .highcharts-background {
        fill: transparent;
      }

      .highcharts-container {
        font-family: inherit;
      }

      .highcharts-data-label {
        font-size: inherit;
        font-weight: inherit;
      }

      .highcharts-yaxis-grid  {
        display: none;
      }
    </style>
  </template>
</dom-module>
