.details-drawer {
  background: white;
  box-shadow: var(--lumo-box-shadow-m);
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  transition: all var(--transition-duration-s);
  z-index: 1;
}

.details-drawer__header {

}

.details-drawer__content {
  flex: 1;
  overflow: auto;
}

.details-drawer__footer {

}

@media(max-width: 719px) {
  .details-drawer {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }

  .details-drawer:not([open])[position="right"] {
    transform: translateX(100%);
  }

  .details-drawer:not([open])[position="bottom"] {
    transform: translateY(100%);
  }
}

@media(min-width: 720px) {
  .details-drawer[position="bottom"] {
    height: 400px;
  }

  .details-drawer:not([open])[position="bottom"] {
    margin-bottom: -400px;
  }

  .details-drawer[position="right"] {
    width: 400px;
  }

  .details-drawer:not([open])[position="right"] {
    margin-right: -400px;
  }
}

@media(max-width: 1023px) {
  
}
