<custom-style>
  <style>
    .list-item {
      box-sizing: border-box;
      overflow: hidden;
      padding: var(--lumo-space-wide-r-l);
      position: relative;
    }

    .list-item__content {
      flex: 1;
    }

    .list-item__prefix,
    .list-item__suffix {
      display: flex;
      flex-shrink: 0;
    }

    .list-item__prefix {
      margin-right: var(--lumo-space-l);
    }

    .list-item__prefix img {
      border-radius: var(--lumo-border-radius);
      height: var(--lumo-size-s);
      width: var(--lumo-size-s);
    }

    .list-item__suffix {
      margin-left: var(--lumo-space-l);
    }

    .list-item__divider {
      background-color: var(--lumo-contrast-20pct);
      bottom: 0;
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }

    .list-item__prefix ~ .list-item__divider {
      left: calc(var(--lumo-space-l) * 3);
    }

    vaadin-grid .list-item__prefix {
      margin-right: var(--lumo-space-m);
    }

    vaadin-grid .list-item * {
      overflow: hidden;
      pointer-events: none;
      text-overflow: ellipsis;
    }

    @media (max-width: 1023px) {
      .list-item__prefix ~ .list-item__divider {
        left: calc(calc(var(--lumo-space-l) * 2) + var(--lumo-space-m));
      }
    }
  </style>
</custom-style>
