.list-item {
  box-sizing: border-box;
  padding: var(--lumo-space-wide-l);
  position: relative;
}

.list-item__icon,
.list-item__img,
.list-item__initials {
  flex-shrink: 0;
  margin-right: var(--lumo-space-l);
}

.list-item__icon {
  color: var(--lumo-tertiary-text-color);
  --iron-icon-width: var(--lumo-font-size-m);
  --iron-icon-height: var(--lumo-font-size-m);
}

.list-item__img,
.list-item__initials {
  border-radius: var(--lumo-border-radius);
  height: var(--lumo-size-s);
  width: var(--lumo-size-s);
}

.list-item__initials {
  flex-shrink: 0;
  font-weight: 500;
  line-height: 1;
}

.list-item__divider {
  background-color: var(--lumo-contrast-20pct);
  bottom: 0;
  height: 1px;
  left: calc(var(--lumo-space-l) * 3);
  position: absolute;
  right: 0;
}

vaadin-grid .list-item {
  padding: var(--lumo-space-s) 0;
}

vaadin-grid .list-item__icon,
vaadin-grid .list-item__img,
vaadin-grid .list-item__initials {
  margin-right: var(--lumo-space-m);
}

vaadin-grid .list-item * {
  pointer-events: none;
}
