.list-item {
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--lumo-space-wide-l);
  position: relative;
}

.list-item__content {
  flex: 1;
}

.list-item__prefix,
.list-item__suffix {
  flex-shrink: 0;
}

.list-item__prefix {
  margin-right: var(--lumo-space-l);
}

.list-item__prefix img {
  border-radius: var(--lumo-border-radius);
  height: var(--lumo-size-s);
  width: var(--lumo-size-s);
}

.list-item__suffix {
  margin-left: var(--lumo-space-l);
}

.list-item__icon {
  color: var(--lumo-tertiary-text-color);
  --iron-icon-width: var(--lumo-font-size-m);
  --iron-icon-height: var(--lumo-font-size-m);
}

.list-item__divider {
  background-color: var(--lumo-contrast-20pct);
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}

.list-item__prefix ~ .list-item__divider {
  left: calc(var(--lumo-space-l) * 3);
}

.list-item.error-text .list-item__icon,
.list-item.success-text .list-item__icon {
  color: inherit;
}

vaadin-grid .list-item {
  padding: var(--lumo-space-s) 0;
}

vaadin-grid .list-item__prefix {
  margin-right: var(--lumo-space-m);
}

vaadin-grid .list-item * {
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
}
