.navigation-item {
  align-items: center;
  display: flex;
  font-size: var(--lumo-font-size-s);
  font-weight: 600;
  height: var(--lumo-size-l);
}

.navigation-item[level] {
  background-color: var(--lumo-contrast-5pct);
  font-weight: normal;
}

/* Hover */
.navigation-item:hover {
  background-color: var(--lumo-contrast-5pct);
}

.navigation-item__link:hover {
  text-decoration: none;
}

/* Active */
.navigation-item:active {
  background-color: var(--lumo-contrast-10pct);
}

/* Link */
.navigation-item__link {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  padding: 0 var(--lumo-space-m);
}

/* Link highlight */
.navigation-item__link:not([highlight]) {
  color: var(--lumo-body-text-color);
}

.navigation-item__link:not([highlight]) iron-icon {
  color: var(--lumo-secondary-text-color);
}

/* Link icon */
.navigation-item__link iron-icon {
  margin-right: var(--lumo-space-l);
}

/* Link label */
.navigation-item__link label {
  cursor: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navigation-item[level="1"] label {
  margin-left: var(--lumo-space-m);
}

.navigation-item[level="2"] label {
  margin-left: calc(var(--lumo-space-m) * 2);
}

.navigation-item[level="3"] label {
  margin-left: calc(var(--lumo-space-m) * 3);
}

/* Expand/collapse button */
.navigation-item > vaadin-button {
  margin-left: auto;
  margin-right: var(--lumo-space-s);
}
