.navigation-drawer {
  z-index: 1;
}

/* Scrim */
.navigation-drawer__scrim {
  animation: 0.2s lumo-overlay-backdrop-enter both;
  background: var(--lumo-shade-20pct);
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  will-change: opacity;
}

/* Content */
.navigation-drawer__content {
  background-color: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-m);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: margin var(--transition-duration-m);
  width: var(--navigation-drawer-width);
}

/* Scrollable area */
.navigation-drawer__scroll-area {
  overflow: auto;
  flex-grow: 1;
}

/* Account switcher */
.navigation-drawer__avatar {
  border-radius: 100%;
  display: flex;
  height: var(--lumo-size-l);
  margin: var(--lumo-space-m) 0 var(--lumo-space-l) var(--lumo-space-m);
  width: var(--lumo-size-l);
}

.navigation-drawer__title {
  margin: 0;
  padding: 0 var(--lumo-space-m);
}

.navigation-drawer__email {
  align-items: center;
  box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--lumo-space-s) var(--lumo-space-m) var(--lumo-space-m);
}

.navigation-drawer__email vaadin-button {
  margin: 0;
}

/* Brand expression */
.navigation-drawer__logo {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: calc( 2 * var(--lumo-size-s));
  justify-content: left;
  padding: 0 var(--lumo-space-m);
  overflow: hidden;
}

.navigation-drawer__logo img {
  width: 150px;
  margin-left: var(--lumo-space-l);
}

/* toggle button */
.navigation-drawer__toggle {
  width: var(--lumo-size-s);
  padding: 0;
  min-width: 0;
  flex-shrink: 0;
}

/* Search */
.navigation-drawer vaadin-text-field {
  box-sizing: border-box;
  padding: 0 var(--lumo-space-m) var(--lumo-space-s) var(--lumo-space-m);
  width: 100%;
  box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-5pct);
}

/* Rail navigation */
.navigation-drawer--rail:not(:hover) .navigation-item[level] label {
  display: none;
}

.navigation-drawer--rail:not(:hover) vaadin-text-field {
  width: var(--navigation-drawer-rail-width);
}

.navigation-drawer--rail:not(:hover) vaadin-text-field [part="value"] {
  display: none;
}

.navigation-drawer--rail:not(.navigation-drawer--open) .navigation-drawer__content {
  width: var(--navigation-drawer-rail-width);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  transition: width .2s;
}

.navigation-drawer--open .navigation-drawer__toggle {
  display: none;
}

.navigation-drawer__content > *:not(.navigation-drawer__scroll-area) {
  flex-shrink: 0;
}


.navigation-drawer--rail:not(.navigation-drawer--open):hover .navigation-drawer__content {
  width: var(--navigation-drawer-width);
}

.navigation-drawer--rail .navigation-drawer__scroll-area {
  width: var(--navigation-drawer-width);
}

.navigation-drawer--rail + .content {
  padding-left: var(--navigation-drawer-rail-width);
}

.navigation-drawer--rail:not(.navigation-drawer--open) .navigation-drawer__avatar {
  box-sizing: border-box;
  height: auto;
  margin: auto;
  padding: var(--lumo-space-s);
  width: 100%;
}

@media (max-width: 1023px) {
  .navigation-drawer__content {
    position: fixed;
  }

  /* Show scrim when drawer is open */
  .navigation-drawer--open .navigation-drawer__scrim {
    opacity: 1;
    pointer-events: all;
  }

  /* Push the drawer out of view */
  .navigation-drawer:not(.navigation-drawer--open) .navigation-drawer__content {
    margin-left: calc(var(--navigation-drawer-width) * -1.2);
  }

  /* Hide the footer */
  .navigation-drawer__footer {
    display: none;
  }

  .navigation-drawer--rail + .content {
    padding-left: 0;
  }
}

