<custom-style>
  <style>
    .tab-bar {
      align-items: center;
      box-shadow: var(--lumo-box-shadow-m);
      position: relative;
      z-index: 1;
    }

    /* Avatar */
    .tab-bar__avatar {
      border-radius: 100%;
      flex-shrink: 0;
      height: var(--lumo-size-s);
      margin-left: auto;
      width: var(--lumo-size-s);
    }

    /* Tabs */
    .tab-bar__tabs {
      box-shadow: none;
    }

    .tab-bar__tab vaadin-button {
      margin: 0;
    }

    .tab-bar__add-tab {
      flex-shrink: 0;
    }

    @media (max-width: 719px) {
      .tab-bar__add-tab,
      vaadin-tab[closable]:not([selected]),
      vaadin-tab[closable] vaadin-button,
      vaadin-tab[closable]:after,
      vaadin-tab[closable]:before {
        display: none;
      }

      vaadin-tab[closable][selected] {
        color: var(--lumo-header-text-color);
        font-size: var(--lumo-font-size-l);
        font-weight: 600;
      }
    }

    @media (max-width: 1023px) {
      .tab-bar {
        padding: 0 var(--lumo-space-m);
      }

      .tab-bar__action-items > *:not(:last-child) {
        margin-right: var(--lumo-space-s);
      }
    }

    @media (min-width: 1024px) {
      .tab-bar {
        padding: 0 var(--lumo-space-l);
      }

      .tab-bar__navi-icon {
        display: none;
      }

      .tab-bar__action-items > *:not(:last-child) {
        margin-right: var(--lumo-space-m);
      }
    }
  </style>
</custom-style>
