.header-text {
  color: var(--lumo-header-text-color);
}

.body-text {
  color: var(--lumo-body-text-color);
}

.secondary-text {
  color: var(--lumo-secondary-text-color);
}

.tertiary-text {
  color: var(--lumo-tertiary-text-color);
}

.disabled-text {
  color: var(--lumo-disabled-text-color);
}

.primary-text {
  color: var(--lumo-primary-text-color);
}

.error-text {
  color: var(--lumo-error-text-color);
}

.success-text {
  color: var(--lumo-success-text-color);
}
