iron-icon.size-s {
  width: var(--lumo-icon-size-s);
  height: var(--lumo-icon-size-s);
}

iron-icon.size-m {
  width: var(--lumo-icon-size-m);
  height: var(--lumo-icon-size-m);
}

iron-icon.size-l {
  width: var(--lumo-icon-size-l);
  height: var(--lumo-icon-size-l);
}
