/* ==== App bar ==== */
.app-bar {
  box-shadow: none;
}

.app-bar__container {
  background: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-s);
  height: calc( 2 * var(--lumo-size-s));
  padding: 0 var(--lumo-size-s) 0 var(--lumo-size-s);
  transition: var(--transition-duration-m);
}

.app-bar__avatar {
  border: solid 1px var(--lumo-contrast-10pct);
}

.app-bar__tab-container {
  box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct);
}

.closable-tab::before,
.closable-tab::after {
  left: calc(50% - (var(--lumo-size-m) / 2));
}

.closable-tab vaadin-button {
  margin: 0;
  --iron-icon-fill-color: var(--lumo-shade-30pct);
}

.closable-tab vaadin-button:hover {
  margin: 0;
  --iron-icon-fill-color: var(--lumo-shade-70pct);
}


/* ==== Navigation drawer ==== */
.brand-expression {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: calc( 2 * var(--lumo-size-s));
  justify-content: left;
  padding: 0 var(--lumo-space-m);
  overflow: hidden;
  box-shadow: none;
}

.brand-expression img {
  width: 150px;
  margin-left: calc(var(--lumo-font-size-m) + var(--lumo-space-s) + var(--lumo-space-l));
}

.navi-drawer__footer {
  position: absolute;
  top: 1em;
  left: 1em;
  width: calc(var(--lumo-font-size-m) + var(--lumo-space-m));
  height: calc(var(--lumo-font-size-m) + var(--lumo-space-m));
  border-radius: var(--lumo-border-radius);
  padding: 0;
}

.navi-drawer__footer span {
  display: none;
}

.navi-drawer__toggle {
  flex-shrink: 0;
  min-width: 0;
  padding: 0;
  width: var(--lumo-size-s);
}

.navi-drawer--open .navi-drawer__toggle {
  display: none;
}

.navi-drawer vaadin-text-field {
  padding-top: 0;
  box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct);
}

.navi-drawer--rail:not(:hover) vaadin-text-field [part="value"] {
  display: none;
}

.navi-drawer--rail:not(:hover) .navi-item[level] label {
  display: none;
}


/* ==== Navigation item ==== */
.navi-item {
  height: calc(2 * var(--lumo-size-s));
}

/* Icon */
.navi-item__link iron-icon {
  --iron-icon-width: var(--lumo-font-size-m);
  --iron-icon-height: var(--lumo-font-size-m);
  background: var(--lumo-shade-5pct);
  border-radius: var(--lumo-border-radius);
  padding: var(--lumo-space-s);
}

.navi-item__link:not([highlight]) iron-icon {
  color: var(--lumo-tertiary-text-color);
}

/* Sub items */
.navi-item[level] {
  height: var(--lumo-size-m);
}

.navi-item[level] .navi-item__link {
  order: 2;
  padding-left: 0;
}

.navi-item[level] vaadin-button {
  margin: 0;
  order: 1;
  padding: 0;
  transition: transform 0.2s;
}

.navi-item[level="1"] label {
  margin-left: var(--lumo-space-m);
}

.navi-item[level] vaadin-button iron-icon {
  color: var(--lumo-tertiary-text-color);
  transition: transform 0.1s;
}

.navi-item[level="2"] label {
  margin-left: calc(var(--lumo-space-m) * 3);
}

.navi-item[level="3"] label {
  margin-left: calc(var(--lumo-space-m) * 4);
}

/* Hover */
.navi-item:hover {
  background: var(--lumo-shade-5pct);
}

.navi-item:hover .navi-item__link:not([highlight]) {
  color: var(--lumo-shade);
  cursor: default;
}

/* Not visible */
.navi-item.not-visible[level] vaadin-button {
  margin: 0;
  order: 1;
}

.navi-item.not-visible[level] vaadin-button iron-icon {
  transform: rotate(-90deg);
}
