.abstract-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.abstract-view__header {
  z-index: 1;
}

.abstract-view__content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.abstract-view__footer {
  z-index: 1;
}
