.dashboard__progress vaadin-chart + div {
  height: var(--lumo-space-xl);
}

@media (max-width: 399px) {
  .dashboard {
    padding: 0 !important;
  }
  .dashboard__progress > * {
    width: calc(100% / 1);
  }
  .dashboard__progress > *:not(:last-child) {
    box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .dashboard__progress > * {
    width: calc(100% / 2);
  }
  .dashboard__progress > *:first-child {
    box-shadow: inset 0 -1px var(--lumo-contrast-20pct),
                inset -1px 0 var(--lumo-contrast-20pct);
  }
  .dashboard__progress > *:nth-child(2) {
    box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
  }
  .dashboard__progress > *:nth-child(3) {
    box-shadow: inset -1px 0 var(--lumo-contrast-20pct);
  }
}

@media (min-width: 600px) {
  .dashboard__progress > * {
    width: calc(100% / 4);
  }
  .dashboard__progress > *:not(:last-child) {
    box-shadow: inset -1px 0 var(--lumo-contrast-20pct);
  }
}

@media (max-width: 1023px) {
  .dashboard__bookmarks-recent-items {
    flex-direction: column;
  }
  .dashboard__bookmarks-recent-items > * {
    width: calc(100% / 1);
  }
}

@media (min-width: 1024px) {
  .dashboard__bookmarks-recent-items {
    justify-content: space-between;
  }
  .dashboard__bookmarks-recent-items > * {
    width: calc(100% / 2 - calc(var(--lumo-space-l) / 2));
  }
}
