.filter-list-view {
  box-sizing: border-box;
  transition: padding var(--transition-duration-m);
}

.filter-area {
  background-color: var(--lumo-base-color);
  box-shadow: inset 0  1px var(--lumo-contrast-20pct),
              inset -1px 0 var(--lumo-contrast-20pct),
              inset 1px  0 var(--lumo-contrast-20pct);
}

.filter-area vaadin-combo-box {
  max-width: 300px;
}

@media (max-width: 399px) {
  .filter-list-view {
    padding: 0;
  }
}

@media (min-width: 400px) and (max-width: 1023px) {
  .filter-list-view {
    padding: var(--lumo-space-m) var(--lumo-space-m) 0 var(--lumo-space-m);
  }
}

@media (min-width: 1024px) {
  .filter-list-view {
    padding: var(--lumo-space-l) var(--lumo-space-l) 0 var(--lumo-space-l);
  }
}
