.filter-list-view {
  transition: padding var(--transition-duration-m);
}

.filter-area vaadin-combo-box {
  max-width: 300px;
}

.filter-section {
  flex: 1;
}

@media (max-width: 399px) {
  .filter-list-view {
    padding: 0;
  }
}

@media (min-width: 400px) and (max-width: 1023px) {
  .filter-list-view {
    padding: var(--lumo-space-m) var(--lumo-space-m) 0 var(--lumo-space-m);
  }
}

@media (min-width: 1024px) {
  .filter-list-view {
    padding: var(--lumo-space-l) var(--lumo-space-l) 0 var(--lumo-space-l);
  }
}
