.hsv__details {
  background: white;
  box-shadow: var(--lumo-box-shadow-m);
  height: 100%;
  width: 400px;
  z-index: 1;
}

.hsv__grid-wrapper {
  flex: 1;
}

.hsv__details-header {
  box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
  padding: 0 var(--lumo-space-s);
}

.hsv__details-content {
  flex: 1;
  overflow: auto;
  padding: var(--lumo-space-l);
}

.hsv__details-footer {
  background: var(--lumo-contrast-5pct);
  justify-content: flex-end;
  padding: var(--lumo-space-s);
}

.hsv__details-footer > *:not(:last-child) {
  margin-right: var(--lumo-space-s);
}

@media (max-width: 399px) {
  .hsv__grid-wrapper {
    padding: 0;
  }
}

@media (min-width: 400px) and (max-width: 1023px) {
  .hsv__grid-wrapper {
    padding-left: var(--lumo-space-m);
    padding-top: var(--lumo-space-m);
  }
}

@media (min-width: 1024px) {
  .hsv__grid-wrapper {
    padding-left: var(--lumo-space-l);
    padding-top: var(--lumo-space-l);
  }
}

@media(max-width: 719px) {
  .hsv__details {
    position: absolute;
    width: 100%;
  }
}

@media(max-width: 1023px) {
  .hsv__details-content {
    padding: var(--lumo-space-m);
  }
}
